@use '../../../styles/variables' as *;

.screensaver-schedule-modal {
  display: flex;
  flex-direction: column;
  gap: $spacing-unit * 2;
}

.screensaver-schedule-modal__actions {
  display: flex;
  justify-content: flex-end;
  gap: $spacing-unit;
}
