@use '../../../styles/variables' as *;

.not-found-view {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $spacing-unit;

  p {
    margin: 0;
    color: $color-text-muted;
  }
}
